# Data Science Tools and Ecosystem

This Jupyter notebook summarizes the Data Science Tools and Ecosystem

Some of the famous data science languages are:
1. Python
2. R
3. SQL
4. Java
5. Javascript
6. C++

Listed below are some of the commonly used libraries by Data Scientists
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. SciPy
6. ScikitLearn

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|R Studio          |
|Anaconda          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

__Objectives:__
* List of languages used by Data Scientists
* List of commonly used Data Science libraries
* List of popular Data Science Tools
* How to use markdown cells
* How to construct table with data
* How to represent arithmetic operations with comments

## Author
   Divya Damodaran